<div class="container" style="text-align:center">
  <div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" style="height:200px" alt="">
  </div>
  <div class="input-group">
    <form action="/shortener" style="margin: 0px auto;">
      <input type="text" name="origin_url" class="form-control mt-3" placeholder="Input URL here" value="" required>
      <button class="btn btn-danger mt-3" type="submit" id="submit-button">縮短</button>
    </form>
  </div>
</div>